.vscode/**
.vscode-test/**
out/test/**

src/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts

# Don't bundle extra build files from ios-deploy
node_modules/ios-deploy/_Frameworks/**
node_modules/ios-deploy/build/**
!node_modules/ios-deploy/build/Release/ios-deploy

# Don't bundle examples
examples/**

# Don't bundle screencast to reduce extension size
images/screencast.gif