.vscode/**
.vscode-test/**
.github/**

# Only bundle main.js
out/**
!out/main.js

# Don't bundle dev only files
src/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
PUBLISHING.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts

# Don't bundle node_modules
node_modules/**

# Don't bundle examples
examples/**

# Don't bundle screencast to reduce extension size
images/screencast.gif